* {
	margin: 0;
	padding: 0;
}

h1{
	text-align: center;
	margin: 20px;
}

p{
	text-align: center;
	margin: 20px;
}

body{
    background-image: url("Art/Backgrounds/general_bg.png");
	background-position: center;
	background-size: cover;
}

/* NAVIGATION SYSTEM / MENU LINKS*/

.navigationMenu {
    /* for the overall menu */
    margin-top: 30px;
    text-align: center;
}

.navigationMenu li {
    /* for each item...*/
	display: inline-block; /*Lines up across from left to right*/
    margin-left: 20px;
    padding: 5px 20px;
}

.navigationMenu li a{
    /* for each item when hovered over with mouse*/
    padding: 5px 20px;
}

.navigationMenu li a:hover {
    /* for each item when hovered over with mouse*/
	background-color:rgb(187, 146, 240);
	border-radius: 20px;
}