* {
	margin: 0;
	padding: 0;
}

body{
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(236, 158, 255, 0.8));
    height: 100vh;
}

h1{
    text-align: center;
    padding: 10px;
}

/* NAVIGATION SYSTEM / MENU LINKS*/

.navigationMenu {
    /* for the overall menu */
    margin-top: 30px;
    text-align: center;
}

.navigationMenu li {
    /* for each item...*/
	display: inline-block; /*Lines up across from left to right*/
    margin-left: 20px;
    padding: 5px 20px;
}

.navigationMenu li a{
    /* for each item when hovered over with mouse*/
    padding: 5px 20px;
}

.navigationMenu li a:hover {
    /* for each item when hovered over with mouse*/
	background-color:rgb(187, 146, 240);
}

/* GENERAL TEXT CODE */
.GeneralText p{
    text-align: center;
    margin: 20px;
}

/*CONTACT FORM CODE */

.ContactForm{
    /*Code for the whole form*/
    text-align: center;
    margin: 20px
}

.ContactForm form{
    background: transparent;
    
}

.inputField{
    /*Input feilds*/
    height: 45px;
    width: 800px;
    margin: 20px;
    background:transparent;
    border: none;
    border-bottom: 2px solid rgb(218, 112, 214);
}

.submit{
    height: 10px;
    width: 20px;
}