* {
	margin: 0;
	padding: 0;
}

body{
    background-color: white;
	background-position: center;
	background-size: cover;
}

h1{
    text-align: center;
    padding: 10px;
}

header{
	height: 70vh;
	text-align: center;
	background-image: url(Art/Backgrounds/background.jpg);
	background-position: center;
}

header h1{
	text-align: center;
	padding-top: 25vh;
	font-size: 50px;
	color: rgb(90, 89, 89);
}

/* NAVIGATION SYSTEM / MENU LINKS*/
header .navigationMenu{
	float: right;
}

.navigationMenu {
    /* for the overall menu */
    margin-top: 30px;
    text-align: center;
}

.navigationMenu li {
    /* for each item...*/
	display: inline-block; /*Lines up across from left to right*/
    margin-left: 20px;
    padding: 5px 20px;
}

.navigationMenu li a{
    /* for each item when hovered over with mouse*/
    padding: 5px 20px;
    text-decoration: none;
}

.navigationMenu li a:hover {
    /* for each item when hovered over with mouse*/
	background-color:white;
    border-radius: 20px;
}

/* GENERAL TEXT CODE */
.GeneralText p{
    text-align: center;
    margin: 20px;
}

/*CONTACT FORM CODE */

.ContactForm{
    /*Code for the whole form*/
    text-align: center;
    margin: 20px
}

.ContactForm form{
    background: transparent;
}

.inputField{
    /*Input fields*/
    height: 45px;
    width: 800px;
    margin: 20px;
    font-size: 20px;
    background:transparent;
    border: none;
    border-bottom: 2px solid black;
    color: black
}

.ContactForm .Buttons input{
    /* Buttons */
    height: 30px;
    width: 100px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid black;
    background-color: white;
}

.ContactForm .Buttons{
    float: left;
    margin-left: 250px;
    margin-bottom: 300px;
}