* {
	margin: 0;
	padding: 0;
}

h1{
    text-align: center;
    margin: 20px;
}

body{
    background-image: url("general_bg.png");
	background-position: center;
	background-size: cover;
}

.HomePageOverview{
	margin: 30px;
	text-align: center;
    font-size: 20px;
}

.StartPrompt{
	margin: 30px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

/* NAVIGATION SYSTEM / MENU LINKS*/

.navigationMenu {
    /* for the overall menu */
    margin-top: 30px;
    text-align: center;
}

.navigationMenu li {
    /* for each item...*/
	display: inline-block; /*Lines up across from left to right*/
    margin-left: 20px;
    padding: 5px 20px;
}

.navigationMenu li a{
    /* for each item when hovered over with mouse*/
    padding: 5px 20px;
}

.navigationMenu li a:hover {
    /* for each item when hovered over with mouse*/
	background-color:rgb(187, 146, 240);
    border-radius: ;
}

/* WELCOME GRID CODE - FOUR BOXES */
.welcomeGrid {
	display: grid;
	text-align: center;
	margin-left: 30px;
	margin-right: 30px;
}

.welcomeGrid a{
	/* For only the link */
	border: none;
	color: rgb(2, 2, 2);
	padding: 10px 25px;
	text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
	font-size: 20px;
}

.welcomeGrid a:hover {
	color:white
}

.homeItem {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;

	padding: 30px 30px;
	margin: 20px;
    border-radius: 20px;
	background-color: palegreen;
}

.portfolioItem {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;

	padding: 30px 30px;
	margin: 20px;
    border-radius: 20px;
	background-color: rgb(152, 187, 251);
}

.aboutItem {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 3;
	grid-row-end: 3;

	padding: 30px 30px;
	margin: 20px;
    border-radius: 20px;
	background-color: rgb(230, 184, 248);
}

.contactItem {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 4;

	padding: 30px 30px;
	margin: 20px;
    border-radius: 20px;
	background-color: rgb(251, 241, 152);
}
