* {
	margin: 0;
	padding: 0;
}

h1{
    text-align: center;
    margin: 20px;
}

header{
	height: 70vh;
	text-align: center;
	background-image: url(Art/Backgrounds/background.jpg);
	background-position: center;
}

header h1{
	text-align: center;
	padding-top: 25vh;
	font-size: 50px;
	color: rgb(90, 89, 89);
}

header .navigationMenu{
	float: right;
}

body{
    /*background-image: url(Art/Backgrounds/homebg2.png);*/
	background-color: white;
	background-position: center;
	background-size: cover;
}

.Intro{
    text-align: center;
    margin: 20px;
}


/* NAVIGATION SYSTEM/MENU LINKS */

.navigationMenu {
    /* for the overall menu */
    margin-top: 30px;
    text-align: center;
}

.navigationMenu li {
    /* for each item...*/
	display: inline-block; /*Lines up across from left to right*/
    margin-left: 10px;
    padding: 5px 10px;
}

.navigationMenu li a{
    /* for each item */
    padding: 5px 10px;
	text-decoration: none;
}

.navigationMenu li a:hover {
    /* for each item when hovered over with mouse*/
	background-color:white;
    border-radius: 10px;
}

/*PORTFOLIO*/

.Portfolio {
	display: grid;
	column-count: 3;
	margin-left: 30px;
	margin-right: 30px;
	align-self: center;
}

.Section1 { /* Game Section Container */
	display: grid;
	grid-row-start: 1;
	margin-left: 30px;
	margin-right: 30px;
	align-self: center;
	column-span: 3;

	padding: 10px;
	margin: 20px;
	background-color: white;
	border-radius: 20px;
}

.Section2 { /* Mobile App Section Container */
	display: grid;
	grid-row-start: 2;
	margin-left: 30px;
	margin-right: 30px;
	align-self: center;
	column-span: 3;

	padding: 10px;
	margin: 20px;
	background-color: white;
	border-radius: 20px;
}

.Section3 { /* Software Section Container */
	display: grid;
	grid-row-start: 3;
	margin-left: 30px;
	margin-right: 30px;
	align-self: center;
	column-span: 3;

	padding: 10px;
	margin: 20px;
	background-color: white;
	border-radius: 20px;
}

.More{ /*If they want to see more*/
	display: grid;
	grid-row-start: 4;
	margin-left: 30px;
	margin-right: 30px;
	align-self: center;
	column-span: 3;

	padding: 10px;
	margin: 20px;
	background-color: white;
	border-radius: 20px;
}

/*Game Listings*/
.GamesCategoryTitle{
	color: rgb(250, 140, 158);
    grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 1;
	column-span: 3;
    font-weight: bold;
    font-size: 20px;
}

.GamesCategoryTitle p{
	color: rgb(250, 140, 158);
    grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 1;
	column-span: 3;
    font-weight: normal;
    font-size: 20px;
}

.TippyTheTurtle{
	position: relative;
	height: 160px;
	width: 200px;
    grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 2;
	grid-row-end: 2;
    margin: 20px;
}

.TippyDescription {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(220, 242, 255, 0.72);
	color: #fff;
	visibility: hidden;
	opacity: 0;

	/* transition effect */
	transition: opacity .2s, visibility .2s;
}

.TippyTheTurtle:hover .TippyDescription {
	opacity: 1;
	visibility: visible;
}

.ValentinesDayBlues{
	position: relative;
	height: 160px;
	width: 200px;
    grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
    margin: 20px;
}

.VDayDescription {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(220, 242, 255, 0.72);
	color: #fff;
	visibility: hidden;
	opacity: 0;

	/* transition effect */
	transition: opacity .2s, visibility .2s;
}

.ValentinesDayBlues:hover .VDayDescription {
	opacity: 1;
	visibility: visible;
}

.KittyDrop{
	position: relative;
	height: 160px;
	width: 200px;
    grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
    margin: 20px;
}

.KittyDescription {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(220, 242, 255, 0.72);
	color: #fff;
	visibility: hidden;
	opacity: 0;

	/* transition effect */
	transition: opacity .2s, visibility .2s;
}

.KittyDrop:hover .KittyDescription {
	opacity: 1;
	visibility: visible;
}

/*App Listings*/
.AppsCategoryTitle{
	color: rgb(250, 140, 158);
    grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 3;
	column-span: 3;
    font-weight: bold;
    font-size: 20px;
}

.AppsCategoryTitle p{
	color: rgb(250, 140, 158);
    grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 3;
	column-span: 3;
    font-weight: normal;
    font-size: 20px;
}

.MeetUpApp{
	position:relative;
	height: 160px;
	width: 200px;
    grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 4;
	grid-row-end: 4;
    margin: 20px;
}

.MeetUpDescription {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(220, 242, 255, 0.72);
	color:black;
	visibility: hidden;
	opacity: 0;

	/* transition effect */
	transition: opacity .2s, visibility .2s;
}

.MeetUpApp:hover .MeetUpDescription {
	opacity: 1;
	visibility: visible;
}

.VirtualCookbook{
	position:relative;
	height: 160px;
	width: 200px;
    grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 4;
    margin: 20px;
}

.CookbookDescription {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(220, 242, 255, 0.72);
	color:black;
	visibility: hidden;
	opacity: 0;

	/* transition effect */
	transition: opacity .2s, visibility .2s;
}

.VirtualCookbook:hover .CookbookDescription {
	opacity: 1;
	visibility: visible;
}

.TipCalculator{
	position: relative;
	height: 160px;
	width: 200px;
    grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 4;
    margin: 20px;
	margin-bottom: 100px;
}

.TipCalcDescription {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(220, 242, 255, 0.72);
	color:black;
	visibility: hidden;
	opacity: 0;

	/* transition effect */
	transition: opacity .2s, visibility .2s;
}

.TipCalculator:hover .TipCalcDescription {
	opacity: 1;
	visibility: visible;
}

/*Software Listings*/
.SoftwareCategoryTitle{
	color: rgb(250, 140, 158);
    grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 5;
	column-span: 3;
    font-weight: bold;
    font-size: 20px;
}

.SoftwareCategoryTitle p{
	color: rgb(250, 140, 158);
    grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 5;
	column-span: 3;
    font-weight: normal;
    font-size: 20px;
}

.BasicCalculator{
	position: relative;
	height: 160px;
	width: 200px;
    grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 6;
	grid-row-end: 6;
    margin: 20px;
}

.BasicCalcDescription {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(220, 242, 255, 0.72);
	color:black;
	visibility: hidden;
	opacity: 0;

	/* transition effect */
	transition: opacity .2s, visibility .2s;
}

.BasicCalculator:hover .BasicCalcDescription {
	opacity: 1;
	visibility: visible;
}

.AdventureGame{
	position: relative;
	height: 160px;
	width: 200px;
    grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 6;
	grid-row-end: 6;
    margin: 20px;
}

.AdventureGameDescription {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(220, 242, 255, 0.72);
	color:black;
	visibility: hidden;
	opacity: 0;

	/* transition effect */
	transition: opacity .2s, visibility .2s;
}

.AdventureGame:hover .AdventureGameDescription {
	opacity: 1;
	visibility: visible;
}

.TicTacToe{
	position: relative;
	height: 160px;
	width: 200px;
    grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 6;
	grid-row-end: 6;
    margin: 20px;
}

.TicTacToeDescription {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(220, 242, 255, 0.72);
	color:black;
	visibility: hidden;
	opacity: 0;

	/* transition effect */
	transition: opacity .2s, visibility .2s;
}

.TicTacToe:hover .TicTacToeDescription {
	opacity: 1;
	visibility: visible;
}

/*BOTTOM ROW*/
.SeeMore{
	color:rgb(250, 140, 158);
	grid-row: 1;
	grid-column: 1;
	column-span: 3;
	text-align: center;
}

.ItchIoLink{
	grid-row: 2;
	grid-column: 1;

	text-align: center;
	padding: 10px;
	margin: 20px;
	border: 2px solid black;
    border-radius: 10px;
	background-color: white;
}

.ItchIoLink a{
	text-decoration: none;
}

.ItchIoLink a:hover{
	color: pink;

}

.GitHubLink{
	grid-row: 2;
	grid-column: 2;

	text-align: center;
	padding: 10px;
	margin: 20px;
	border: 2px solid black;
    border-radius: 10px;
	background-color: white;
}

.GitHubLink a{
	text-decoration: none;
}

.GitHubLink a:hover{
	color:pink;
}